.header {
  padding: 25px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-wrap: wrap;
      gap: 40px;

    }
  }

  &__actions {
    display: flex;
    gap: 12px;

    @include tablet{
      order: 1;
    }
  }
}

.logo {
  &__link {
    display: flex;
    align-items: center;
  }

  &__image {
    margin-right: 5px;
  }

  &__text {
    @include text(25px, 800);

    &:nth-child(2) {
      color: $text-blue;
    }

    &:nth-child(3) {
      color: $text-white;
    }
  }
}

.nav {
  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    @include text(17px, 700, 21px);
    color: $text-white;
  }


  @include tablet{
    order: 2;
    margin: 0 auto;
  }

  @include mobile {
    display: none
  }
}
