.popular {
  padding-bottom: 50px;

  &__wrapper {
      padding-bottom: 50px;
  }

  &__prev,
  &__next {
      user-select: none;

      &::after {
          font-size: 0;
      }
  }

  &__prev {
      bottom: 0;
      top: auto;
      left: 45%;
      transform: rotate(180deg) translateX(-50%);
  }

  &__next {
      bottom: 0;
      top: auto;
      right: 45%;
      transform: translateX(-50%);
  }

  &__pagination {
      user-select: none;
      text-align: center;
      color: $text-white;
      transform: translateY(-75%);
  }
}