$text-blue: #3657cb;
$text-white: #fff;
$text-black: #000;
$text-gray: #ffffff69;
$text-yellow: #f2f60f;
$text-light-gray: #e3e6f0b8;
$text-bark-blue-100: #1b2133;

$bg-white: #fff;
$bg-blue: #3657cb;
$bg-green: #89cb36;

$bg-yellow: #f2f60f;
$bg-dark-blue: #1e2538;
$bg-bark-blue-100: #1b2133;

$shadow: #3657cba6;

$button-primary-shadow: 0 0 15px 0 #4871ffcc;
